@charset "UTF-8";
.cf-clWhite {
  color: white; }

.cf-clGray {
  color: #58595b; }

.cf-clRed {
  color: #be1e2d; }

.cf-clBlue {
  color: #129fd8; }

.cf-clOrange {
  color: #ff7200; }

.cf-bgBlue {
  background-color: #129fd8; }

.cf-bgOrange {
  background-color: #ff7200; }

.cf-bgWhite {
  background-color: white; }

.cf-bgRed {
  background-color: #be1e2d; }

.cf-bgGray {
  background-color: #58595b; }

.cf-bgGray-llll {
  background-color: #f3f3f3; }

.cf-bgOrange-5, .cf-sec-1 .cf-group-1, .cf-sec-1 .cf-group-1:before, .cf-sec-1 .cf-group-1:after {
  background-color: rgba(255, 131, 0, 0.5); }

.cf-bgOrange-7, .cf-sec-3 .cf-group-1 .cf-bg {
  background-color: rgba(255, 131, 0, 0.75); }

@font-face {
  font-family: 'NunitoSans-Light';
  src: url("../fonts/nunitosans/NunitoSans-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'NunitoSans-Regular';
  src: url("../fonts/nunitosans/NunitoSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'NunitoSans-Bold';
  src: url("../fonts/nunitosans/NunitoSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'NunitoSans-Black';
  src: url("../fonts/nunitosans/NunitoSans-Black.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-Black';
  src: url("../fonts/roboto/Roboto-Black.ttf") format("truetype"); }
@font-face {
  font-family: 'RobotoCondensed-Light';
  src: url("../fonts/roboto/RobotoCondensed-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url("../fonts/roboto/RobotoCondensed-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url("../fonts/roboto/RobotoCondensed-Bold.ttf") format("truetype"); }
.cf-fwLight {
  font-family: 'Roboto-Light'; }

.cf-fwNormal, body {
  font-family: 'Roboto-Regular'; }

.cf-fwBold {
  font-family: 'Roboto-Bold'; }

.cf-fwBlack {
  font-family: 'Roboto-Black'; }

.cf-ttUpper {
  text-transform: uppercase; }

h1.cf-title,
h2.cf-title,
h3.cf-title,
h4.cf-title,
h5.cf-title {
  padding: 0;
  margin: 0; }

.cf-fs12 {
  font-size: 12px; }

.cf-fs13 {
  font-size: 13px; }

.cf-fs14 {
  font-size: 14px; }

.cf-fs15 {
  font-size: 15px; }

.cf-fs16 {
  font-size: 16px; }

.cf-fs17 {
  font-size: 17px; }

.cf-fs18 {
  font-size: 18px; }

.cf-fs24 {
  font-size: 24px; }

.cf-fs30 {
  font-size: 30px; }

.cf-fs36 {
  font-size: 36px; }

.cf-fs48 {
  font-size: 48px; }

.cf-fs60 {
  font-size: 60px; }

.cf-fs72 {
  font-size: 72px; }

.cf-fs100 {
  font-size: 100px; }

.cf-fs120 {
  font-size: 120px; }

.cf-lh-1 {
  line-height: 1; }

.cf-lh-1-2 {
  line-height: 1.2; }

.cf-tCenter {
  text-align: center; }

.cf-tLeft {
  text-align: left; }

.cf-tRight {
  text-align: right; }

*,
html,
body {
  box-sizing: border-box; }

html,
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #58595b;
  line-height: 1.4; }

button,
input,
select,
textarea {
  font-size: 100%;
  vertical-align: baseline; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button; }

.cf-space {
  padding-bottom: 5px; }

.cf-space-m {
  padding-bottom: 10px; }

.cf-space-mm {
  padding-bottom: 15px; }

.cf-space-mmm {
  padding-bottom: 20px; }

.cf-space-mmmm {
  padding-bottom: 25px; }

.cf-p {
  padding: 5px; }

.cf-p-m {
  padding: 10px; }

.cf-p-mm {
  padding: 15px; }

.cf-p-mmm {
  padding: 20px; }

.cf-p-mmmm {
  padding: 25px; }

.cf-pLeft {
  padding-left: 5px; }

.cf-pLeft-m {
  padding-left: 10px; }

.cf-pLeft-mm {
  padding-left: 15px; }

.cf-pLeft-mmm {
  padding-left: 20px; }

.cf-pLeft-mmmm {
  padding-left: 25px; }

.cf-pRight {
  padding-right: 5px; }

.cf-pRight-m {
  padding-right: 10px; }

.cf-pRight-mm {
  padding-right: 15px; }

.cf-pRight-mmm {
  padding-right: 20px; }

.cf-pRight-mmmm {
  padding-right: 25px; }

.cf-pTop {
  padding-top: 5px; }

.cf-pTop-m {
  padding-top: 10px; }

.cf-pTop-mm {
  padding-top: 15px; }

.cf-pTop-mmm {
  padding-top: 20px; }

.cf-pTop-mmmm {
  padding-top: 25px; }

.cf-pBottom {
  padding-bottom: 5px; }

.cf-pBottom-m {
  padding-bottom: 10px; }

.cf-pBottom-mm {
  padding-bottom: 15px; }

.cf-pBottom-mmm {
  padding-bottom: 20px; }

.cf-pBottom-mmmm {
  padding-bottom: 25px; }

.cf-m {
  margin: 5px; }

.cf-m-m {
  margin: 10px; }

.cf-m-mm {
  margin: 15px; }

.cf-m-mmm {
  margin: 20px; }

.cf-m-mmmm {
  margin: 25px; }

.cf-mLeft {
  margin-left: 5px; }

.cf-mLeft-m {
  margin-left: 10px; }

.cf-mLeft-mm {
  margin-left: 15px; }

.cf-mLeft-mmm {
  margin-left: 20px; }

.cf-mLeft-mmmm {
  margin-left: 25px; }

.cf-mRight {
  margin-right: 5px; }

.cf-mRight-m {
  margin-right: 10px; }

.cf-mRight-mm {
  margin-right: 15px; }

.cf-mRight-mmm {
  margin-right: 20px; }

.cf-mRight-mmmm {
  margin-right: 25px; }

.cf-mTop {
  margin-top: 5px; }

.cf-mTop-m {
  margin-top: 10px; }

.cf-mTop-mm {
  margin-top: 15px; }

.cf-mTop-mmm {
  margin-top: 20px; }

.cf-mTop-mmmm {
  margin-top: 25px; }

.cf-mBottom {
  margin-bottom: 5px; }

.cf-mBottom-m {
  margin-bottom: 10px; }

.cf-mBottom-mm {
  margin-bottom: 15px; }

.cf-mBottom-mmm {
  margin-bottom: 20px; }

.cf-mBottom-mmmm {
  margin-bottom: 25px; }

.cf-br {
  border: 1px solid #dddddd; }

.cf-brTop {
  border-top: 1px solid #dddddd; }

.cf-brRight {
  border-right: 1px solid #dddddd; }

.cf-brBottom {
  border-bottom: 1px solid #dddddd; }

.cf-brLeft {
  border-left: 1px solid #dddddd; }

.cf-fLeft {
  float: left; }

.cf-fRight {
  float: right; }

.cf-ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.cf-sqBox {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .cf-sqBox:before {
    content: "";
    display: block;
    padding-top: 100%; }
  .cf-sqBox .cf-sqContent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

.cf-vCenter {
  display: inline-block;
  vertical-align: middle;
  width: auto; }

.cf-w100p {
  width: 100%; }

.cf-h100p {
  height: 100%; }

.cf-division {
  width: 100%; }
  .cf-division:before {
    content: " ";
    display: table; }
  .cf-division:after {
    content: " ";
    display: table;
    clear: both; }

.cf-clear {
  clear: both; }

.cf-hidden {
  display: none; }

.cf-show {
  display: block; }

.cf-noSelect, .cf-btn {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */ }

.cf-on {
  display: block !important; }

.cf-off {
  display: none !important; }

.cf-block {
  display: block; }

.cf-iblock {
  display: inline-block; }

.cf-pR {
  position: relative; }

.cf-pA {
  position: absolute; }

.cf-pF {
  position: fixed; }

.cf-zindex-1 {
  z-index: 1; }

.cf-zindex-2 {
  z-index: 2; }

.cf-zindex-3 {
  z-index: 3; }

.cf-ani1 {
  transition: all 0.1s ease-in; }

.cf-ani2 {
  transition: all 0.2s ease-in; }

.cf-ani3 {
  transition: all 0.3s ease-in; }

.cf-ani4 {
  transition: all 0.4s ease-in; }

.cf-ani, .cf-effect {
  transition: all 0.5s ease-in; }

.cf-effect.cf-ef-move-left {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(10vh);
  -ms-transform: translateX(10vh);
  transform: translateX(10vh); }
.cf-effect.cf-ef-move-right {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(-10vh);
  -ms-transform: translateX(-10vh);
  transform: translateX(-10vh); }
.cf-effect.cf-ef-move-top {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(10vh);
  -ms-transform: translateY(10vh);
  transform: translateY(10vh); }
.cf-effect.cf-ef-move-bottom {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-10vh);
  -ms-transform: translateY(-10vh);
  transform: translateY(-10vh); }
.cf-effect.cf-ef-active.cf-ef-move-left {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }
.cf-effect.cf-ef-active.cf-ef-move-right {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }
.cf-effect.cf-ef-active.cf-ef-move-top {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }
.cf-effect.cf-ef-active.cf-ef-move-bottom {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.cf-icon-btn-social {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-color: #58595b;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer; }
  .cf-icon-btn-social > i {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
  .cf-icon-btn-social:hover {
    background-color: #be1e2d; }
  .cf-icon-btn-social.cf-small-el {
    width: 30px;
    height: 30px; }

.cf-icon-btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer; }
  .cf-icon-btn > i {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
  .cf-icon-btn:hover {
    color: #129fd8; }
  .cf-icon-btn.cf-small-el {
    width: 30px;
    height: 30px; }

.cf-btn {
  display: inline-block;
  position: relative;
  min-width: 100px;
  height: 40px;
  padding: 10px 20px;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  outline: none;
  border: 0;
  line-height: 1.2;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none; }
  .cf-btn.cf-bgRed-el {
    background-color: #be1e2d;
    color: white; }
  .cf-btn.cf-long-el {
    min-width: 300px; }
    @media (max-width: 750px) {
      .cf-btn.cf-long-el {
        min-width: 100%; } }
  .cf-btn:hover {
    background-color: #a21320; }
  .cf-btn:active {
    background-color: #be1e2d; }

.cf-scroll-top-btn {
  position: fixed;
  bottom: 60px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0;
  z-index: 10;
  outline: none;
  display: none; }
  .cf-scroll-top-btn i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px; }
  .cf-scroll-top-btn:focus {
    border: 0; }
  .cf-scroll-top-btn.cf-active {
    display: block; }

.cf-a {
  color: #58595b;
  text-decoration: none;
  cursor: pointer; }
  .cf-a:hover {
    color: #129fd8; }

.cf-fleContainer,
.cf-fleContainer-mob,
.cf-sec-3 .cf-group-1 .cf-list-behavier {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

@media (max-width: 750px) {
  .cf-fleContainer-mob, .cf-sec-3 .cf-group-1 .cf-list-behavier {
    display: block; } }

.cf-fleStart {
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start; }

.cf-fleEnd {
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end; }

.cf-fleSpBetween {
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }

.cf-fleSpAround {
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around; }

.cf-fleSpEvenly {
  -moz-justify-content: space-evenly;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  -ms-flex-pack: space-evenly; }

.cf-fleDrCol {
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.cf-fleDrRow {
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.cf-fleStretch {
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch; }

.cf-fleNowrap {
  -moz-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-wrap: none; }

.cf-fleWrap {
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.cf-fleOne, .cf-sec-3 .cf-group-1 .cf-list-behavier > li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0; }

.cf-fleMiddle, .cf-sec-3 .cf-group-1 .cf-list-behavier > li {
  -moz-align-self: center;
  -webkit-align-self: center;
  align-self: center;
  -ms-align-self: center; }

.cf-fleCenter {
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

input,
textarea {
  border: 1px solid #dddddd;
  color: #58595b;
  font-family: 'Roboto-Regular';
  font-size: 14px; }
  input:focus,
  textarea:focus {
    outline: none;
    border: 1px solid #129fd8; }

input::placeholder,
textarea::placeholder {
  color: #a5a5a5;
  font-family: 'Roboto-Light'; }

.cf-input {
  position: relative; }
  .cf-input > .cf-blinding {
    width: 100%;
    padding-right: 30px; }
  .cf-input:hover > .cf-close-btn {
    display: block; }
  .cf-input > .cf-close-btn {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: white;
    padding: 5px 10px;
    cursor: pointer;
    display: none; }
    .cf-input > .cf-close-btn:hover {
      color: #be1e2d; }

.cf-search {
  display: inline-block;
  position: relative; }
  .cf-search .cf-binding {
    width: 100%;
    padding-right: 50px; }
  .cf-search .cf-search-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #129fd8;
    padding: 10px 15px;
    min-height: 39px;
    cursor: pointer; }
    .cf-search .cf-search-btn:hover {
      background-color: #00b6ff; }
    .cf-search .cf-search-btn i {
      color: white; }

.cf-pattern-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 5; }
  .cf-pattern-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/pattern_ovelay.png);
    background-repeat: repeat;
    opacity: 0.2; }

.cf-slider-main {
  position: relative;
  min-height: 250px;
  background-color: black;
  max-height: 449px;
  overflow: hidden; }
  @media (max-width: 750px) {
    .cf-slider-main {
      min-height: 80vh; } }

.cf-item-slider {
  position: relative;
  max-height: 449px;
  overflow: hidden; }

.cf-des-slider {
  text-align: center;
  position: absolute;
  top: calc(50% + 20px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 640px;
  z-index: 6; }

.cf-title-slider {
  color: white;
  font-size: 50px;
  letter-spacing: 5px; }
  @media (max-width: 750px) {
    .cf-title-slider {
      font-size: 26px;
      letter-spacing: 1px; } }

.cf-img-slider {
  width: 90px;
  height: 90px; }
  @media (max-width: 750px) {
    .cf-img-slider {
      width: 30px;
      height: 30px;
      display: none !important; } }

.owl-dots {
  display: none; }

.owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 8;
  margin-top: -20px; }
  .owl-nav .owl-prev,
  .owl-nav .owl-next {
    position: absolute;
    top: 0;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: lighter;
    color: white; }
    @media (max-width: 750px) {
      .owl-nav .owl-prev,
      .owl-nav .owl-next {
        padding: 15px 10px;
        font-size: 20px; } }
  .owl-nav .owl-prev {
    left: 0; }
  .owl-nav .owl-next {
    right: 0; }

.cf-arrow-down-btn {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 8;
  font-size: 80px;
  margin-left: -36px;
  padding: 10px;
  color: white; }
  @media (max-width: 750px) {
    .cf-arrow-down-btn {
      bottom: 0px; } }

.cf-sub-banner {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 449px; }
  .cf-sub-banner > .cf-item {
    display: block;
    position: relative;
    width: 250px;
    height: 50%; }
    .cf-sub-banner > .cf-item > .cf-img {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      margin-bottom: 20px; }
      .cf-sub-banner > .cf-item > .cf-img img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        min-width: 100%;
        height: 100%; }

.cf-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.cf-bg-section,
.cf-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }
  .cf-bg-section img,
  .cf-bg img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%; }

.cf-img {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden; }
  .cf-img img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 100%;
    height: 100%; }

.cf-h95v {
  min-height: 95vh; }

.cf-content-section {
  position: relative;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: 100%;
  z-index: 1; }

.cf-sec-1 {
  position: relative;
  width: 100%; }
  .cf-sec-1 .cf-group-1 {
    position: relative;
    padding: 4vh 2vw;
    width: 100%;
    color: white;
    margin-bottom: 17vh; }
    .cf-sec-1 .cf-group-1:before, .cf-sec-1 .cf-group-1:after {
      position: absolute;
      content: '';
      display: block;
      width: 100%; }
    .cf-sec-1 .cf-group-1:before {
      bottom: -40px;
      left: 0;
      height: 30px; }
    .cf-sec-1 .cf-group-1:after {
      bottom: -70px;
      height: 25px;
      left: 0; }
  .cf-sec-1 .cf-group-2 {
    position: relative;
    background-color: white;
    border-radius: 20px;
    border: 2px dotted #ff8300;
    padding: 10px 40px; }
  .cf-sec-1 .cf-suffix1 {
    position: absolute;
    top: -5px;
    left: -60px; }
  .cf-sec-1 .cf-suffix2 {
    position: absolute;
    top: -5px;
    right: -50px; }
    @media (max-width: 750px) {
      .cf-sec-1 .cf-suffix2 {
        right: inherit;
        left: -60px; } }

.cf-sec-2 {
  position: relative; }
  .cf-sec-2 .cf-group-1 {
    width: 640px;
    overflow: hidden;
    position: relative;
    padding-right: 50px; }
    @media (max-width: 750px) {
      .cf-sec-2 .cf-group-1 {
        width: 100%;
        padding-right: 80px; }
        .cf-sec-2 .cf-group-1 .cf-fs120 {
          font-size: 75px; }
        .cf-sec-2 .cf-group-1 .cf-fs36 {
          font-size: 30px; } }
    .cf-sec-2 .cf-group-1 .cf-line-dot {
      position: absolute;
      bottom: 36px;
      right: 20px;
      width: 304px;
      border-bottom: 1px dashed #773f04; }
      @media (max-width: 750px) {
        .cf-sec-2 .cf-group-1 .cf-line-dot {
          bottom: 0px;
          border: 0px; } }
      .cf-sec-2 .cf-group-1 .cf-line-dot img {
        display: block;
        position: absolute;
        top: -44px;
        right: -20px; }
        @media (max-width: 750px) {
          .cf-sec-2 .cf-group-1 .cf-line-dot img {
            right: 0; } }
  .cf-sec-2 .cf-group-2 {
    width: 680px;
    overflow: hidden;
    position: relative; }
    @media (max-width: 750px) {
      .cf-sec-2 .cf-group-2 {
        width: 100%; } }
    .cf-sec-2 .cf-group-2 .cf-bg {
      top: 20px;
      left: 15px;
      right: 15px;
      bottom: 20px; }
      .cf-sec-2 .cf-group-2 .cf-bg:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.75); }
    .cf-sec-2 .cf-group-2 .cf-line-dot-1,
    .cf-sec-2 .cf-group-2 .cf-line-dot-2 {
      position: absolute;
      width: 200px;
      border-bottom: 1px dashed #773f04; }
      .cf-sec-2 .cf-group-2 .cf-line-dot-1:after,
      .cf-sec-2 .cf-group-2 .cf-line-dot-2:after {
        content: '';
        display: block;
        position: absolute;
        height: 200px;
        border-left: 1px dashed #773f04; }
    .cf-sec-2 .cf-group-2 .cf-line-dot-1 {
      top: 0px;
      left: 0px; }
      .cf-sec-2 .cf-group-2 .cf-line-dot-1:after {
        top: 0px;
        left: 0px; }
    .cf-sec-2 .cf-group-2 .cf-line-dot-2 {
      bottom: 0px;
      right: 0px; }
      .cf-sec-2 .cf-group-2 .cf-line-dot-2:after {
        bottom: 0px;
        right: 0px; }
  .cf-sec-2 .cf-group-3 {
    width: 680px;
    overflow: hidden;
    position: relative; }
    @media (max-width: 750px) {
      .cf-sec-2 .cf-group-3 {
        width: 100%; } }
    .cf-sec-2 .cf-group-3 .cf-register-btn {
      display: inline-block;
      cursor: pointer;
      text-decoration: none;
      padding: 20px 40px;
      background-color: #773f04;
      color: white;
      border-radius: 50px;
      text-align: center; }
      .cf-sec-2 .cf-group-3 .cf-register-btn:hover {
        background-color: #402923; }
  .cf-sec-2 .cf-group-4 {
    width: 680px;
    overflow: hidden;
    position: relative;
    padding: 20px 20px; }
    @media (max-width: 750px) {
      .cf-sec-2 .cf-group-4 {
        width: 100%; } }
    .cf-sec-2 .cf-group-4 > div {
      text-align: center; }

.cf-line-bottom-dot {
  display: inline-block;
  width: 300px;
  border-bottom: 1px dashed #773f04; }

.cf-sec-3 .cf-group-1 {
  position: relative; }
  .cf-sec-3 .cf-group-1 .cf-list-behavier {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 5px;
    z-index: 1; }
    .cf-sec-3 .cf-group-1 .cf-list-behavier > li {
      display: block;
      padding: 5px; }
      @media (max-width: 750px) {
        .cf-sec-3 .cf-group-1 .cf-list-behavier > li {
          padding: 10px;
          margin-bottom: 30px; } }
      .cf-sec-3 .cf-group-1 .cf-list-behavier > li > .cf-img {
        height: 150px;
        border-radius: 10px; }
        @media (max-width: 750px) {
          .cf-sec-3 .cf-group-1 .cf-list-behavier > li > .cf-img {
            height: 300px; } }
        .cf-sec-3 .cf-group-1 .cf-list-behavier > li > .cf-img > img {
          display: block; }
  .cf-sec-3 .cf-group-1 .cf-bg {
    position: absolute;
    top: 140px;
    left: 0;
    bottom: 0;
    right: 0; }
    @media (max-width: 750px) {
      .cf-sec-3 .cf-group-1 .cf-bg {
        top: 0; } }
  .cf-sec-3 .cf-group-1 .cf-line-bottom-dot {
    border-bottom-color: white; }

.cf-hidden-mob {
  display: block !important; }
  @media (max-width: 750px) {
    .cf-hidden-mob {
      display: none !important; } }

.cf-show-mob {
  display: none !important; }
  @media (max-width: 750px) {
    .cf-show-mob {
      display: block !important; } }

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/awesome/fonts//fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/awesome/fonts//fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/awesome/fonts//fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/awesome/fonts//fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/awesome/fonts//fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/awesome/fonts//fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.fa-handshake-o:before {
  content: ""; }

.fa-envelope-open:before {
  content: ""; }

.fa-envelope-open-o:before {
  content: ""; }

.fa-linode:before {
  content: ""; }

.fa-address-book:before {
  content: ""; }

.fa-address-book-o:before {
  content: ""; }

.fa-vcard:before,
.fa-address-card:before {
  content: ""; }

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: ""; }

.fa-user-circle:before {
  content: ""; }

.fa-user-circle-o:before {
  content: ""; }

.fa-user-o:before {
  content: ""; }

.fa-id-badge:before {
  content: ""; }

.fa-drivers-license:before,
.fa-id-card:before {
  content: ""; }

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: ""; }

.fa-quora:before {
  content: ""; }

.fa-free-code-camp:before {
  content: ""; }

.fa-telegram:before {
  content: ""; }

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: ""; }

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: ""; }

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: ""; }

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: ""; }

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: ""; }

.fa-shower:before {
  content: ""; }

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: ""; }

.fa-podcast:before {
  content: ""; }

.fa-window-maximize:before {
  content: ""; }

.fa-window-minimize:before {
  content: ""; }

.fa-window-restore:before {
  content: ""; }

.fa-times-rectangle:before,
.fa-window-close:before {
  content: ""; }

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: ""; }

.fa-bandcamp:before {
  content: ""; }

.fa-grav:before {
  content: ""; }

.fa-etsy:before {
  content: ""; }

.fa-imdb:before {
  content: ""; }

.fa-ravelry:before {
  content: ""; }

.fa-eercast:before {
  content: ""; }

.fa-microchip:before {
  content: ""; }

.fa-snowflake-o:before {
  content: ""; }

.fa-superpowers:before {
  content: ""; }

.fa-wpexplorer:before {
  content: ""; }

.fa-meetup:before {
  content: ""; }

/*# sourceMappingURL=stylesheet.css.map */
