// NunitoSans
@font-face {
    font-family: 'NunitoSans-Light';
    src: (url("../fonts/nunitosans/NunitoSans-Light.ttf") format("truetype"), );
}

@font-face {
    font-family: 'NunitoSans-Regular';
    src: (url("../fonts/nunitosans/NunitoSans-Regular.ttf") format("truetype"), );
}

@font-face {
    font-family: 'NunitoSans-Bold';
    src: (url("../fonts/nunitosans/NunitoSans-Bold.ttf") format("truetype"), );
}

@font-face {
    font-family: 'NunitoSans-Black';
    src: (url("../fonts/nunitosans/NunitoSans-Black.ttf") format("truetype"), );
}

// roboto
@font-face {
    font-family: 'Roboto-Light';
    src: (url("../fonts/roboto/Roboto-Light.ttf") format("truetype"), );
}

@font-face {
    font-family: 'Roboto-Regular';
    src: (url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"), );
}

@font-face {
    font-family: 'Roboto-Bold';
    src: (url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"), );
}

@font-face {
    font-family: 'Roboto-Black';
    src: (url("../fonts/roboto/Roboto-Black.ttf") format("truetype"), );
}

// RobotoCondensed
@font-face {
    font-family: 'RobotoCondensed-Light';
    src: (url("../fonts/roboto/RobotoCondensed-Light.ttf") format("truetype"), );
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: (url("../fonts/roboto/RobotoCondensed-Regular.ttf") format("truetype"), );
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: (url("../fonts/roboto/RobotoCondensed-Bold.ttf") format("truetype"), );
}

// $light: NunitoSans-Light;
// $regular: NunitoSans-Regular;
// $bold: NunitoSans-Bold;
// $black: NunitoSans-Black;
.cf-fwLight {
    font-family: 'Roboto-Light';
}

.cf-fwNormal {
    font-family: 'Roboto-Regular';
}

.cf-fwBold {
    font-family: 'Roboto-Bold';
}

.cf-fwBlack {
    font-family: 'Roboto-Black';
}

// @font-face {
//   font-family: 'MyWebFont';
//   src: url('webfont.eot'); /* IE9 Compat Modes
//   src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8
//        url('webfont.woff2') format('woff2'), /* Super Modern Browsers
//        url('webfont.woff') format('woff'), /* Pretty Modern Browsers
//        url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS
//        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS
// }
.cf-ttUpper {
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
    &.cf-title {
        padding: 0;
        margin: 0;
    }
}

.cf-fs12 {
    font-size: 12px;
}

.cf-fs13 {
    font-size: 13px;
}

.cf-fs14 {
    font-size: 14px;
}

.cf-fs15 {
    font-size: 15px;
}

.cf-fs16 {
    font-size: 16px;
}

.cf-fs17 {
    font-size: 17px;
}

.cf-fs18 {
    font-size: 18px;
}

.cf-fs24 {
    font-size: 24px;
}

.cf-fs30 {
    font-size: 30px;
}

.cf-fs36 {
    font-size: 36px;
}

.cf-fs48 {
    font-size: 48px;
}

.cf-fs60 {
    font-size: 60px;
}

.cf-fs72 {
    font-size: 72px;
}

.cf-fs100 {
    font-size: 100px;
}

.cf-fs120 {
    font-size: 120px;
}

// line height
.cf-lh-1 {
    line-height: 1;
}

.cf-lh-1-2 {
    line-height: 1.2;
}

//text-aglin======
.cf-tCenter {
    text-align: center;
}

.cf-tLeft {
    text-align: left;
}

.cf-tRight {
    text-align: right;
}